html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: #7088f0;
  /* --imp-text-color: #c770f0; */
}

/* --------- */
/*  Preloader */
/* --------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  /* background-color: #0c0513; */
  background-color: #050613;
  background-image: url(./Assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #192650;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(121, 170, 216, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(130, 205, 235, 0.911);
  border-radius: 12px;
}


/* --------- */
/* tsparticles */
/* --------- */

#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

/* --------- */
<<<<<<< HEAD
/* global    */
=======
/* Index section */
>>>>>>> 7338c2f8f14197512c0bcb14c927b063be3a5066
/* --------- */

.blue {
  color: var(--imp-text-color) !important;
}

.section {
  position: relative;
  padding-bottom: 10rem !important;
  padding-top: 8rem !important;
  clip-path: polygon(0 0,100% 0,100% 91%,0 100%);
  background: linear-gradient(transparent 0px, rgba(0, 0, 0, 0.6) 100%);
  color: white !important;
}

.section__row {
  margin-bottom: calc(3rem + 5.128vw)
}

.section__heading {
  color: white !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}

/* --------- */
/* Home      */
/* --------- */

.home_section__header__wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } 
  100% {
    transform: rotate(0deg);
  }
}

.home_section {
  position: relative;
  z-index: -1;
  background-image: var(--image-gradient), url(./Assets/bg-5.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 0px !important;
  padding-top: 30px !important;
}
.home_section__content {
  padding: 9rem 0 0 0 !important;
  color: whitesmoke;
  text-align: left;
}

.home_section__header {
  padding-top: 10px !important;
}


.home_section__header__heading {
  font-size: 2.4em !important;
  padding-left: 50px !important;
  padding-bottom: 15px !important;
}

.home_section__header__heading_name {
  font-size: 2.5em !important;
  padding-left: 45px !important;
}

.home_section__header__main_name {
  /* color: #5f6ef8; */
  background-image: linear-gradient(135deg,#03eeff,#5f6ef8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;  
}
.home_section__header__type{
  padding: 50px;
  text-align: left;
}

.home_section__header__img_fluid{
  border-radius: 50%;
  width: 70% !important;
}

/* --------- */
/* Typewriter */
/* --------- */

.Typewriter__wrapper {
  font-size: 1.8em !important;
  color: #5f9cf8 !important;
  font-weight: 500 !important;
}
.Typewriter__cursor {
  font-size: 2.2em !important;
  color: rgb(98, 144, 214) !important;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
}

/* --------- */
/* avatar */
/* --------- */
.myAvtar {
  justify-content: center !important;
  padding-top: 9em !important;
}

.myAvtar__img_fluid{
  border-radius: 50%;
  width: 70% !important;
}

@media (max-width: 767px) {
  .myAvtar {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
}

/* --------- */
/* Button */
/* --------- */

.home-about-section {
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
  background: linear-gradient(transparent 2px, rgba(0, 0, 0, 0.8) 100%);
  clip-path: polygon(0 0,100% 0,100% 91%,0 100%);
}
.skill-section{
  clip-path: polygon(0 0,100% 0,0 100%,);
  color: whitesmoke;
  position: relative;
  padding-bottom: 70px !important;
  padding-top: 70px !important;
  background: linear-gradient(transparent 2px, rgba(0, 0, 0, 0.8) 100%);
}

.home-about-description {
  color: white !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

.home-about-body {
  padding-top: 50px;
  font-size: 1.1em !important;
  text-align: justify;
  text-justify: inter-word;
}

.home-about-social {
  text-align: center !important;
  padding-top: 25px;
  color: white !important;
}

.home-about-social-links {
  justify-content: center !important;
  padding-top: 15px !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.cta-btn {
  background: linear-gradient(135deg,#03eeff,#5f6ef8) !important;
  border-image: linear-gradient(135deg,#03eeff,#5f6ef8) !important;
  border-image-slice: 1 !important;
  border-width: 2px !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  border-radius: 10px !important;
   display: inline-block;
  position: relative;
  font-weight: 700 !important;
  z-index: 100;
  max-width: "250px";
  transition: box-shadow.3s ease-in-out;
}
.cta-btn::before,
.cta-btn::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

}
.cta-btn::after {
  opacity: 0;
  background: linear-gradient(135deg,#03eeff,#5f6ef8) !important;
  transition: opacity.3s ease-in-out;
  color: #fff  !important;
}
.cta-btn:hover {
  -webkit-text-fill-color: #fff !important;
}
.cta-btn:hover::after {
  opacity: 1;
}
/* --------- */
/* Resume */
/* --------- */

.resume-section{
  background-image: var(--image-gradient), url(./Assets/bg-5.jpg) !important;
  padding-top: 0px !important;
  padding-left: 270px !important;
  padding-bottom: 50px !important;
}


/* --------- */
/* Resume */
/* --------- */

.resume_section{
  background-image: var(--image-gradient), url(./Assets/bg-5.jpg) !important;
  padding-top: 0px !important;
  padding-left: 82px !important;
  padding-bottom: 60px !important;
}

/* --------- */
/* About */
/* --------- */

.about__body {
  padding-top: 50px;
  font-size: 1.1em !important;
  text-align: justify;
  text-justify: inter-word;
  color: #fff;
}

/* --------- */
/* skill */
/* --------- */

.skill_section {
  color: white !important;
  padding-top: 100px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

.skill_section__eng{
  color:#fff;
  text-align: left;
  justify-content: space-between;
}

.progress-title {
  font-size: 15px;
  font-weight: 700;
  margin: 15px 0 20px;
  font-family: 'Raleway';
  color:#fff;
  text-align: left;
}

.progress {
  height: 5px;
  background: #fff;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 30px;
  overflow: visible;
}

.progress .progress-bar {
  position: relative;
  background: linear-gradient(135deg,#03eeff,#5f6ef8) !important;
  animation: animate-positive 2s;
  overflow: visible;
  opacity: 0.9;
}

.progress .progress-value {
  position: absolute;
  top: -30px;
  right: 8px;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  color: #5f9cf8;
}

@-webkit-keyframes animate-positive {
  0% {
      width: 0%;
  }
}

@keyframes animate-positive {
  0% {
      width: 0%;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
  }
}
/* --------- */
/* certificate */
/* --------- */

.certificate_section{
  background-image: linear-gradient(to left,#29007e,#00e0ff); 
  clip-path: polygon(0 0,100% 12%,100% 90%,0 100%);
  padding: 12rem 0 15rem;
  margin-top: -15rem;
  color: #fff;
}

.certificate_section__slide_img{
  width: 100%;
  height: 100%;
}

/* --------- */
/* Projects */
/* --------- */

.project_card {
  padding: 10px 10px !important;
  height: auto !important;
}
.project_card__view--btn_position{
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  right: 30%;
}
.project_card__view--msg_position{
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  right: 10%;
}

.project_card__view {
  padding-top: 10px;
  border: none;
  color: white !important;
  background: linear-gradient(to bottom, rgb(18, 20, 70), rgb(0 0 0));
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  min-height: 400px;
    height: 100% !important;
    font-size: small;
}
.project_card__view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: 0 1px 10px 3px #7088f0 !important;
}

.project_card__view__img{
  min-height: 150px;
  max-height: 150px;
}

/* --------- */
/* Contact */
/* --------- */

.contact_section{
  background-image: linear-gradient(to left,#29007e,#00e0ff); 
  clip-path: polygon(0 15vh,100% 0,100% 100%,0 100%);
  padding: 10rem 0 5rem;
  margin-top: -15rem;
  color: #fff;
}

.contact_section__btn {
  background: transparent !important;
  border: solid 2px white !important;
  border-radius: 10px !important;
  display: inline-block;
  position: relative;
  font-weight: 700 !important;
  padding: 0.8rem 1.6rem !important;
  line-height: 1 !important;
  z-index: 100;
  width: 100%;
  transition: all .6s cubic-bezier(.19,1,.22,1);
  
} 

.contact_section__btn:hover {
  color: #5f6ef8 !important;
  text-decoration: none;
  background-color: white !important;
}

/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: rgb(10, 4, 22);
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
}
  .footer__text{
    padding-top: 10px ;
    color: grey !important;
    font-size: 0.9rem;
  }
  .footer__link {
    text-decoration: none;
    color: grey !important;
  }
  .footer__link:hover{
    color: #7088f0 !important;
  }

  .footer__back_to_top{
  color: #fff;
  font-size: 1.5rem;
  margin: 1rem 0 1.6rem;
  transition: all 0.5s ease 0s !important;
}
.footer__back_to_top:hover {
  transform: scale(1.2) !important;
  overflow: hidden !important;
  color: #5f6ef8;
}

.footer__social {
  text-align: center !important;
  padding-top: 25px;
  color: white !important;
}

.footer__social__links {
  justify-content: center !important;
  padding-top: 15px !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.footer__social__icons {
  position: relative !important;
  display: inline-block !important;
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
  font-size: 1.2em !important;
  line-height: 2em !important;
  background: rgba(255, 255, 255, 0.972) !important;
  border-radius: 50% !important;
  transition: 0.5s !important;
  color: #20429e !important;
}

.footer__social__icons:hover {
  color: #204c9e;
  box-shadow: 0px 2px 5px 4px #204c9e;
  text-shadow: 0px 2px 4px #204c9e;
}

.footer__social__li {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}